:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /*placeholder for now*/

  --text-default: #000000;
  --bg-color: #EFECE3;
  --light-blue: #8FABD4;
  --dark-blue: #4A70A9;

  --padding-sm: 1rem;
  --padding-md: 2rem;
  font-weight: 400;
}


body {
  background-color: var(--bg-color);
  margin: 0 auto;
  height: 100vh;

  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.hidden{
opacity: 0;
pointer-events: none;
}


#app {
  background: var(--light-blue);
}

.app-shell {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}


.screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.is-active {
  display: block;
}

.screen:not(.is-active) {
  display: none;
}

button {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#pen{
  background-color: #94366d; 
}

#brush{
  background-color: #3380be; 
}

#marker {
  background-color: #a7892a; 
}

#eraser {
  background-color: #6edf64; 
}


#workspace-container{
  position: relative;
  width: calc(78vw);
  height: 100vh;

  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  
  z-index: 1;
}

#workspace-container::before {
  content: '';
  position: absolute;
  width: calc(-24px + 78vw);
  height: calc(-48px + 100vh);
  top: 0;
  background-color: #eee6c2;
  pointer-events: none;
  z-index: 0;
}

#workspace-container::after {
  content: '';
  pointer-events: none;
  position: absolute;
  width: calc(-24px + 78vw);
  height: calc(-48px + 100vh);

  top:0px;
  border-style: solid;
  border-image-slice: 200;
  border-image-width: 10vw;
  border-image-repeat: stretch;
  /* border-image-source: url("./assets/borderimg.svg"); */
  z-index: 6;
}

#canvasLayout{
 
  display: block;
  border: 2.5px solid black;
  background-color: white;
  width: 700px;
  height: 500px;
  margin: 5px;
  z-index: 4;

}

.toolbar{
  position: relative; /*Added*/
  margin: 2px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8FABD4;
  width: 300px;
  height: 80px;
  z-index: 2;
  }

.tool{
  width: 50px;
  height: 50px;
  background-color: #e3e6eb;
  margin: 2px;
  z-index: 3;
}