:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /*placeholder for now*/

  --text-default: #000000;
  --bg-color: #EFECE3;
  --light-blue: #8FABD4;
  --dark-blue: #4A70A9;

  --padding-sm: 1rem;
  --padding-md: 2rem;
  font-weight: 400;
}


body {
  background-color: var(--bg-color);
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hidden{
opacity: 0;
pointer-events: none;
}

#landing{
  position: relative;
  background: var(--dark-blue);
  overflow: hidden;
}

.landing-container{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.door-panels{
  position: fixed;
  inset: 0;
  display: flex;
  pointer-events: none;
  z-index: 1;
}

.panel{
  flex: 1;
  height: 100%;
  transition: transform 0.9s cubic-bezier(0.45, 0.1, 0.25, 1);
;
}

.panel.right{
  background: rgb(240, 217, 173);
}

.panel.left{
  background: rgb(240, 239, 173);
}


#app {
  background: var(--light-blue);
}

.app-shell {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loader{
  margin-top: 1rem;
  font-size: 1.2rem;
  transition: opacity 0.1s ease;
}

#loader.show{
  opacity: 1;
}

.screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.is-active {
  display: block;
}

.screen:not(.is-active) {
  display: none;
}

button {
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
